@charset "UTF-8";
/* CSS Document */
.desktop {
	
	margin-left: auto;
	margin-right: auto;
	
}
.header {
	position: absolute;
	width: 652px;		
	height: 93px;
	left: 579px;
	top: 162px;
}

.menu {
	position: absolute;
	width: 383px;
	height: 23px;
	left: 700px;
	top: 255px;
	
}

.logo {
	position: absolute;
	width: 494px;
	height: 494px;
	left: 540px;
	top: 312px;
}

.stilllogo {
	position: absolute;
	width: 683px;
	height: 683px;
	left: 557px;
	top: 330px;
}

.logo:hover {
	
	visibility:hidden;
	
}


	







@media only screen and (max-width : 1579px )
	
{
	.header {
		margin-left: 0px;	
	}
	.menu {
		margin-left: 0px;	
	}
	.logo {
		margin-left: 0px;
	}
	
	
	
}
